<a href="https://colab.research.google.com/github/wbsfps/comex/blob/main/comex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Conexão com o banco de dados

import os
import psycopg2
from pyspark.sql import SparkSession

try:
    conn = psycopg2.connect(
        dbname="db_lab_1_unidade",
        user="db_lab_1_unidade_user",
        password="MZ2eD0NEjzIsxsXYsMOxYSQbfnuSHZkT",
        host="dpg-cvkqbebe5dus73bss32g-a.oregon-postgres.render.com",
        port="5432",
    )

    with conn.cursor() as cur:
        cur.execute("SELECT version();")

        version = cur.fetchone()[0]
        print("Versão do banco de dados PostgreSQL:", version)

        cur.execute("SELECT * FROM public.transacoes;")
        rows = cur.fetchall()
        if rows:
            for row in rows:
                print(row)
        else:
            print("Nenhum dado encontrado na tabela.")

except Exception as e:
    print(f"Ocorreu um erro: {e}")

finally:
    if conn:
        conn.close()
        print("Conexão fechada.")

Versão do banco de dados PostgreSQL: PostgreSQL 16.8 (Debian 16.8-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
(1, 2, 1, 2, 1, Decimal('4500000.00'), 12000, 1, 1)
(2, 1, 2, 1, 3, Decimal('7800000.00'), 6000, 2, 1)
(3, 2, 3, 4, 5, Decimal('9000000.00'), 3000, 3, 1)
(4, 1, 4, 5, 2, Decimal('5600000.00'), 4000, 1, 1)
(5, 2, 5, 3, 4, Decimal('7300000.00'), 5000, 2, 1)
(6, 2, 1, 3, 2, Decimal('8000000.00'), 4000, 1, 4)
(7, 1, 2, 4, 5, Decimal('9200000.00'), 5000, 3, 4)
(8, 2, 3, 5, 3, Decimal('11000000.00'), 7000, 2, 4)
(9, 1, 4, 1, 1, Decimal('5200000.00'), 3000, 4, 4)
(10, 2, 5, 2, 4, Decimal('7600000.00'), 4000, 1, 4)
(11, 2, 1, 5, 3, Decimal('10000000.00'), 6000, 2, 7)
(12, 1, 2, 3, 4, Decimal('8500000.00'), 5000, 3, 7)
(13, 2, 3, 2, 1, Decimal('4200000.00'), 2000, 4, 7)
(14, 1, 4, 1, 5, Decimal('9600000.00'), 4000, 1, 7)
(15, 2, 5, 4, 2, Decimal('8800000.00'), 4500, 3, 7)
(16, 2, 1, 4, 1, Decimal('6200000.00'), 3100, 2, 9)
(17, 1, 2, 5, 3, Decimal('7800000.00'), 4500, 3, 9)
(18, 2, 3, 1, 2, Decimal('8900000.00'), 5000, 4, 9)
(19, 1, 4, 2, 4, Decimal('7100000.00'), 3800, 1, 9)
(20, 2, 5, 3, 5, Decimal('9700000.00'), 5500, 3, 9)
Conexão fechada.

In [8]:
# Importando o SparkSession, que é o ponto de entrada para o Spark

# Criando uma sessão Spark
spark = SparkSession.builder \
    .appName("Exemplo Spark") \
    .getOrCreate()

# Criando um conjunto de dados simples (uma lista de números)
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convertendo a lista em um RDD (Resilient Distributed Dataset), estrutura básica do Spark
rdd = spark.sparkContext.parallelize(numeros)

# Operação 1: Calculando a soma dos números
soma = rdd.sum()
print(f"A soma dos números é: {soma}")

# Operação 2: Filtrando números pares
pares = rdd.filter(lambda x: x % 2 == 0)
print("Números pares:", pares.collect())

# Encerrando a sessão Spark
spark.stop()

A soma dos números é: 55
Números pares: [2, 4, 6, 8, 10]